<!DOCTYPE html>
<html>
    <head>
        <title>IMDb clone</title>
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
   
   	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
   <style>
       a{color:white;}
   </style>
    </head>
    
    <body style=" background-image: url('http://orig00.deviantart.net/acb6/f/2013/303/7/6/gif___running_through_the_rain_by_turst67-d6scius.gif'); background-size: cover;">
      
      
     <nav class=" navbar navbar-light bg-dark " >
         <div class="container-fluid">
             <div class="navbar-header">
                 <a class="navbar-brand" href="/" >IMDB CLONE</a>
             </div>
               <!--      <div class="nav navbar-right">-->
                         
               <!--      <a class="nav-link" href="/">LOGIN</a>-->
               <!--      <a class="nav-link" href="/">SIGNUP</a>-->
               <!--      <a class="nav-link" href="/">LOGOUT</a>-->
               <!--</div>-->
             
         </div>
         
         
         
     </nav>
