<!DOCTYPE html>
<html style="width:100%;height:100%;">
    <head>
        <title>IMDb clone</title>
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
   
   	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
   
   
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
          <link href="main.css" rel="stylesheet"/>
        <script src="jquery-1.10.2.min.js"></script>
        <script src="JQUERYmain.js"></script>
    <style>
       a{color:white;}

/* ....................navbar.................. */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  /* ....................................navbar end */
   </style>
    </head>
    
    <body style="width: 100%;
    height: 100%;
    background-image: url(http://orig00.deviantart.net/acb6/f/2013/303/7/6/gif___running_through_the_rain_by_turst67-d6scius.gif);
    background-image: url(http://ultraimg.com/images/Ho6hQWs.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;">
      
      
     <!-- <nav class=" navbar navbar-light bg-dark " >
         <div class="container-fluid">
             <div class="navbar-header">
                 <a class="navbar-brand" href="/" >IMDB CLONE</a>
             </div> -->
               <!--      <div class="nav navbar-right">-->
                         
               <!--      <a class="nav-link" href="/">LOGIN</a>-->
               <!--      <a class="nav-link" href="/">SIGNUP</a>-->
               <!--      <a class="nav-link" href="/">LOGOUT</a>-->
               <!--</div>-->
             
         <!-- </div> -->
         
<ul>
    <li><a class="active" href="#">IMDb</a></li>
    <li><a href="https://github.com/kapilguptaDTU">GitHub</a></li>
    <li><a href="https://drive.google.com/open?id=10rse2RrHe0QHMqX61V8ZGDU8eLTHkEgU">My Resume</a></li>
    <li style="float:right"><a class="active" href="https://kapilguptadtu.github.io/Web-Store/">My Web Store</a></li>
  </ul>
  
         
         
     </nav>
