<html>
    <head>
        <title></title>
          <link rel="stylesheet" type="text/css" href="/stylesheets/2048style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/Untitled.css">
    </head>
    <body>
       <div class="score_center_align">  <div class="score"></div><div class="highscore"></div></div>
       <div class="container_center_align"> 
           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn3xhNAGI2gY3CdYFnjnK6sMj-DaCTczO4lFFz1qLD2jpfx6cV5A">
       <div class="container" id="idd">
           
           
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
            
            
            
       </div>
        </div>
       
       
       
       
       
       
        <script type="text/javascript" src="/js/2048script.js"></script>
        <script type="text/javascript" src="/js/Untitled.js"></script>
        <script>
        baguetteBox.run('.container');
        // , {
        // buttons:'auto';
    // <!--// Custom options-->
});
</script>
        
    
    
    
    
    
    </body>
</html>