

<html>

<head>
    <title>wasd</title>
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    
            
    <link rel="stylesheet" type="text/css" href="/stylesheets/snakestyle.css">
</head>

<body>

<ul style="margin-bottom:16vh;">
        <li><a class="active" href="#">SNAKES AND LADDERS</a></li>
        <li><a href="https://github.com/kapilguptaDTU">GitHub</a></li>
        <li><a href="https://drive.google.com/open?id=10rse2RrHe0QHMqX61V8ZGDU8eLTHkEgU">My Resume</a></li>
        <li style="float:right"><a class="active" href="https://kapilguptadtu.github.io/Web-Store/">My Web Store</a></li>
      </ul>
      
<div class="centermeilao">
 <div class="flexer-yaha-ayega"><div class="pa dasssdas">Play again?</div></div>
  <div class="indicatorandscreen">
  <div class="indicator" id="toggler"></div>
<div class="screen">
  <div class="screen-red"></div>
   <div class="screen-blue"></div>
   </div>
      </div>
    
        <div class=" container_center_align">

        <div class="container ">
            <div class="pawn"></div>
            <div class="pawnb"></div>
            <div class="shift_to_center">

                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>



        </div>
    </div>

</div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script type="text/javascript" src="/js/snakescript.js"></script>

    <!-- <script type="text/javascript" src="1aug.js"></script> -->
    
</body>

</html>

