<html>
    <head>
        <title></title>
          <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
       <div class="score_center_align">  <div class="score"></div><div class="highscore"></div></div>
       <div class="container_center_align"> 
           <img src="2048-img@3x.webp">
       <div class="container">
           
           
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
           <div class="dabba"><div class="box"></div></div>
            
            
            
       </div>
        </div>
       
       
       
       
       
       
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>